<div class="clearfix">
  <div class="{{if this.numberValid 'has-success'}} form-group cc-number">
    <label class="control-label">{{if this.numberLabel this.numberLabel 'Card Number'}}</label>
    <InputCreditCardNumber @number={{this.number}} @class="form-control" />
  </div>

  <div class="{{if this.cvcValid 'has-success'}} form-group cc-cvc">
    <label class="control-label">{{if this.securityCodeLabel this.securityCodeLabel 'Security Code'}}</label>
    <InputCreditCardCvc @cvc={{this.cvc}} @class="form-control" />
  </div>
</div>

<div class="clearfix">
  <div class="{{if this.nameValid 'has-success'}} form-group cc-name">
    <label class="control-label">{{ if this.nameOnCardLabel this.nameOnCardLabel 'Name on Card'}}</label>
    <Input @type="text" @value={{this.name}} class="form-control" />
  </div>

  <div class="{{if this.expirationValid 'has-success'}} form-group cc-expiration">
    <label class="control-label">{{ if this.expirationLabel this.expirationLabel 'Expiration'}}</label>
    <InputCreditCardExpiration @month={{this.month}} @year={{this.year}} @class="form-control" />
  </div>
</div>

{{#if this.zipcodeRequired}}
  <div class="{{if this.zipcodeValid 'has-success'}} form-group cc-zipcode">
    <label class="control-label">{{ if this.zipCodeLabel this.zipCodeLabel 'Zip Code'}}</label>
    <InputCreditCardZipcode @zipcode={{this.zipcode}} @class="form-control" />
  </div>
{{/if}}


<div class="type">
  {{this.type}}
</div>
