<div class="row">
  {{numberValid}}
  <div {{bind-attr class="numberValid:has-success"}} class="form-group">
    <label class="control-label">Card Number</label>
    {{input-credit-card-number number=number}}
  </div>

  <div {{bind-attr class="cvcValid:has-success"}}>
    <label class="control-label">Security Code</label>
    {{input-credit-card-cvc cvc=cvc}}
  </div>
</div>

<div class="row">
  <div {{bind-attr class="nameValid:has-success"}}>
    <label class="control-label">Name on Card</label>
    {{input type="text" value=name}}
  </div>

  <div {{bind-attr class="expirationValid:has-success"}}>
    <label class="control-label">Expiration</label>
    {{input-credit-card-expiration month=month year=year}}
  </div>
</div>

<div class="type">
  {{isValid}}
</div>